<div class="scene-wrapper">
  <div class="scene-container">
    <div class="table-scene">
      <div class="table-container">
        <div class="table-with-mantel">
          <img [src]="personajeImagen" alt="Personaje" class="personaje-image" *ngIf="personajeImagen">
          <img [src]="mesaImagen" alt="Mesa" class="mesa-image">
          <img [src]="mantelImagen" alt="Mantel" class="mantel-image">

          <div class="plate-container" id="plate-container" [class.drag-over]="isDragOver">
            <img #plateImage [src]="platoImagen" alt="Plato" class="plate-image">
            <div #plateArea
                 class="plate-area"
                 (drop)="handleDrop($event)"
                 (dragover)="handleDragOver($event)"
                 (dragenter)="handleDragEnter($event)"
                 (dragleave)="handleDragLeave($event)">
            </div>

            <div class="food-on-plate"
                 *ngFor="let item of ingredientesEnPlato; let i = index; trackBy: trackByIndex"
                 [ngStyle]="{
                   'left.%': item.x,
                   'top.%': item.y,
                   'width.px': item.size,
                   'height.px': item.size,
                   'transform': 'translate(-50%, -50%) rotate(' + item.rotation + 'deg)'
                 }"
                 (click)="eliminarIngrediente(i)"
                 title="Eliminar {{ item.ingrediente.nombre }}">
              <img [src]="getImagePath(item.ingrediente.imagen)" [alt]="item.ingrediente.nombre">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="button-container">
    <div class="cantidad-total font-text">
      <span class="label">Total aproximado:</span>
      <span class="value">{{ cantidadTotal | number:'1.0-0' }} g</span>
    </div>
    <button class="btn clear-plate-btn font-text" type="button" (click)="onLimpiarPlato()">
      Limpiar Plato
    </button>
    <button class="btn btn-primary font-text"
            type="button"
            (click)="servirPlato()"
            [disabled]="ingredientesEnPlato.length === 0">
      Finalizar Plato
    </button>
  </div>
</div>
