<div class="ingredientes-alacena">
  <section
    class="categoria-seccion"
    [ngClass]="'categoria-seccion--' + cat.id"
    *ngFor="let cat of categorias"
    [attr.aria-labelledby]="'cat-' + cat.id">
    <header class="categoria-seccion__header" [id]="'cat-' + cat.id">
      <span class="categoria-seccion__icon" aria-hidden="true">{{ cat.icono }}</span>
      <span class="categoria-seccion__titulo font-text">{{ cat.nombre }}</span>
    </header>
    <div class="categoria-seccion__items">
      <app-ingrediente
        *ngFor="let ingrediente of getIngredientesPorCategoria(cat.id)"
        [ingrediente]="ingrediente"
        (ingredienteArrastrado)="onIngredienteArrastrado($event)"
        (ingredienteSeleccionado)="onIngredienteSeleccionado($event)">
      </app-ingrediente>
    </div>
  </section>

  <p class="ingredientes-alacena__vacio font-text" *ngIf="ingredientes.length === 0">
    No hay alimentos disponibles
  </p>
</div>
